    {% comment %}
      This is a clear vision for the project. Why we are the people for them to work with. Be specific. No marketing speak or jargon.
    {% endcomment %}
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, quibusdam, beatae saepe nihil eveniet iste tenetur quam dicta et quis recusandae totam tempora architecto eaque voluptatum unde voluptate commodi nobis.</p>