<div class="row">

  <div class="col-sm-8 col-md-6">
    <h1>Welcome to our client hub</h1>
    <p class="lead">We will archive and review all of our work here. This site itself is not publicly accessible, but feel free to share it with any stakeholders in the projects for feedback throughout the process.</p>
  </div>

  <div class="col-sm-4 col-md-4 col-md-offset-2">
    <div class="well">
      <h4>Don't hesitate to contact me!</h4>
      <p><strong>{% comment %}Contact Details{% endcomment %}</strong></p>
      <p>Office: 347.946.1113</p>
      <p>Cell: </p>
      <p>Twitter: <a href="https://twitter.com/danleatherman">@danleatherman</a></p>
      <p>Email: <a href="mailto:dan@permalightnyc.com">dan@permalightnyc.com</a></p>
    </div>
  </div>

  <div class="col-sm-12">
    <hr>
  </div>

</div>